body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container {
  padding-top: 4rem;
  overflow-x: auto;
  overflow-y: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


table {
  width: 95%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 160px; /* Ancho mínimo para las celdas, ajusta según sea necesario */
}

th {
  background-color: #5cb85c;
  width: auto;
  color: white;
 
}
thead{
  position: sticky;
  top: 0;
  z-index: 2;
}

.primera-columna {
  /* Fijar la primera columna */
  position: sticky;
  left: 0;
  z-index: 3;
  background-color: #5cb85c;
  color: white;
  min-width: 140px;
  border: none;
}

td:first-child {
  /* Fijar la primera columna */  
  position: sticky;
  left: 0;
  z-index: 1;  
}

.encabezado-roles{
  background-color: #d3d0d0;
}

.tabla-container {
  width: 100%;
  overflow: auto;
  min-height: 200px;
  height: 250px;
}

.icono-papelera {
  width: 1rem;
  height: 1rem; 
}

.celda {
  align-items: center;
  width: 98%;
  text-align: left;
}

.celdas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-width: 140px;
  text-align: center;
}

.addRolInput {
  width: 100%;
  height: 1.3rem;
  text-align: center;
  margin: auto;
  border: none;
}
h4{
  color: tomato;
}


.buton-container {
  margin-top: 0.6rem;
  width: 100%;
  height: 2rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.boton-salvar {
  background-color: #5cb85c;
  color: white;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;  
  width: 6rem;
  height: 1.8rem;
  cursor: pointer;
  margin-right: 2rem;
}

.ultima {
  cursor: pointer;
}

.mensaje{
  width: 100%;
}

.modal {
  width: 60%; 
  height: 100%; 
  overflow: auto; 
  margin: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
}

.modal-body {
  margin-top: 1rem;
  padding: 0.3rem 1.5rem;
  width: 90%;
  text-align: center;
}

.modal-footer {
  margin: 1rem auto;
  padding: 2px 16px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.boton-ok-modal,
.boton-cancel-modal {
  width: 45%;
  height: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
}

.boton-ok-modal {
  background-color: #5cb85c;
  color: white;
  text-align: center; 
}

.boton-cancel-modal {
  background-color: tomato;
  color: white;
  text-align: center; 
}

.input-modal {
  width: 90%;
  height: 1.5rem;
}

.herror {
  width: 90%;
  height: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  color: tomato;
}

