table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
}

.container {
  padding-top: 4rem;
  overflow-x: auto;
  overflow-y: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 2;
}

th:first-child {
  /* Fijar la primera columna */
  position: sticky;
  left: 0;
  z-index: 3;
  background-color: #fff;
}

td:first-child {
  /* Fijar la primera columna */
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

td,
th {
  min-width: 150px; /* Ancho mínimo para las celdas, ajusta según sea necesario */
}

.tabla-container {
  width: 100%;
  overflow: auto;
  height: 300px;
  /* //max-height: 300px; Altura máxima de la tabla, ajusta según sea necesario */
}

.icono-papelera {
  width: 1rem;
  height: 1rem;
  margin-left: 0;
}

.celdas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.tdboton {
  width: 15px;
}

.boton{
  background-color: beige;
  color: #090909;
  border: none;
  font-size: 18px;
  width: 100%;
}


.addRolInput{
  width: 100%;
  text-align: center;
  margin: auto;
}